extends  ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="materiales/img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dolor tortor, suscipit a ex vel, imperdiet posuere mauris. Ut hendrerit, nisl eget rhoncus molestie, sem lorem tristique ante, eget fermentum justo nisi sit amet mauris. Phasellus sed mauris purus. Curabitur dapibus ut ante quis convallis. Nunc molestie egestas velit, ac viverra justo. Morbi consectetur quis purus sed efficitur. Sed posuere, nunc nec sollicitudin dictum, massa justo aliquam nulla, at rutrum arcu massa ac augue. Cras placerat arcu leo.

                p Etiam viverra in magna sit amet sagittis. Curabitur condimentum viverra molestie. Nam mollis ornare leo, nec egestas tortor efficitur non. Sed tempor ex vitae velit faucibus, nec ultrices ligula sagittis. Praesent nec accumsan tortor. Aenean laoreet nibh at hendrerit egestas. Aliquam viverra, est sed porta euismod, quam nulla pulvinar augue, at vestibulum risus metus non turpis. Aliquam venenatis, arcu mattis dignissim venenatis, magna orci pulvinar diam, id vehicula eros nisl sed velit. Suspendisse nisl neque, luctus eu mi eget, egestas ultricies eros. Integer viverra leo sed dolor dignissim euismod. In sit amet porta ex. Curabitur eu vulputate neque, ac lacinia magna.

                p Fusce quam neque, auctor vel dolor sit amet, accumsan mattis ante. Pellentesque fermentum ullamcorper elementum.  molestie mauris ex nec leo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas lacinia sollicitudin. Nam aliquet cursus nisl pellentesque pellentesque. In tristique commodo consectetur. Vestibulum finibus venenatis dapibus. Nunc rhoncus mi vitae leo rutrum tristique. Integer rhoncus feugiat sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce mattis pellentesque augue, ac hendrerit est feugiat vitae. Ut bibendum nibh non enim tincidunt aliquam. Phasellus mollis maximus nibh, viverra auctor nulla sagittis in. 





        .listad-iconos 
            .container.mt-5.py-5.text-center
                .row 
                    .col-md-4
                        img(src="materiales/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Praesent egestas lacinia sollicitudin. Nam aliquet cursus nisl pellentesque pellentesque. In tristique commodo consectetur. Vestibulum finibus venenatis dapibus. Nunc rhoncus mi vitae leo rutrum tristique. Integer rhoncus feugiat sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce mattis pellentesque augue, ac hendrerit est feugiat vitae.


                    .col-md-4
                        img(src="materiales/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Mejores destinos
                        p Praesent egestas lacinia sollicitudin. Nam aliquet cursus nisl pellentesque pellentesque. In tristique commodo consectetur. Vestibulum finibus venenatis dapibus. Nunc rhoncus mi vitae leo rutrum tristique. Integer rhoncus feugiat sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce mattis pellentesque augue, ac hendrerit est feugiat vitae.

        
                    .col-md-4
                        img(src="materiales/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Mejores precios 
                        p Praesent egestas lacinia sollicitudin. Nam aliquet cursus nisl pellentesque pellentesque. In tristique commodo consectetur. Vestibulum finibus venenatis dapibus. Nunc rhoncus mi vitae leo rutrum tristique. Integer rhoncus feugiat sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce mattis pellentesque augue, ac hendrerit est feugiat vitae.




   










//- p #{viajes}
//- p= viajes

